<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://images.squarespace-cdn.com/content/v1/56c3497560b5e97b362b4ec6/1458334633083-HO43EAUEV4JREZE35Q24/ke17ZwdGBToddI8pDm48kLN33MCaMri5_kQBC52hVftZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyqylgK486yu2adhfXJXe_419WGzblEfHOXASI1SNLnL3U5hJGSSZrBsjs2deskRFo/image-asset.png" />
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to "Back to cocktail", cocktail_path(params[:cocktail_id]), class: 'btn-yellow'  %>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Choose an ingredient" %>
    <%= f.input :description %>
    <%= f.submit 'Add dose', class: 'btn-yellow'%>
  <% end %>
</div>

<div class="footer">
  <p>Mister cocktails</p>
</div>


