<h1>Add a new dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Choose an ingredient" %>
  <%= f.input :description %>
  <%= f.submit 'Add cocktail', class: 'btn btn-primary'%>
<% end %>

<%= link_to "Back to cocktail", cocktail_path(params[:cocktail_id])  %>


